[submodule "src/GyverButton"]
	path = src/GyverButton
	url = https://github.com/cyrmax/GyverButton.git
[submodule "src/GyverFilters"]
	path = src/GyverFilters
	url = https://github.com/cyrmax/GyverFilters.git
[submodule "src/GyverUART"]
	path = src/GyverUART
	url = https://github.com/cyrmax/GyverUART.git
[submodule "src/DFPlayer"]
	path = src/DFPlayer
	url = https://github.com/DFRobot/DFRobotDFPlayerMini.git
